{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col">
    <div class="row">
        <header class="p-2 fixed-top" style="background-color: white;">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                        <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
                        <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
                        <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>
                    </ul>

                    <p class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        {{ ICard.email }}
                    </p>

                    <div class="dropdown text-end mt-1">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="row">
        <div class="col sidebar container-fluid mt-5" style="z-index: 1000;">
            <div class="row">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary fill" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link active" aria-current="page">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-body-emphasis">
                                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                Customers
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a role="button" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>

        <div class="col" style="position: absolute; left: 280px; max-width: 1190px;">
            <div class="p-3">
                <div class="mt-5">
                    <h2>Sample Form</h2>
                    
                    <form action="" method="post">
                        {% csrf_token %}

                        <!-- Personal Details -->
                        <div class="card">
                        <div class="card-header">
                            Personal Details
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="name">Name:</label>
                                {{application.Name}}
                            </div>
                            <div>
                                <label for="Father's Name">Father's Name:</label>
                                {{application.Fathers_Name}}
                            </div>
                            <div>
                                <label for="Mother's Name">Mother's Name:</label>
                                {{application.Mothers_Name}}
                            </div>
                            <div>
                                <label for="address">Address</label>
                                {{application.Address}}
                            </div>
                            <div>
                                <label for="mobile">Contact</label>
                                {{application.Contact1}}
                            </div>
                            <div>
                                <label for="mobile">Additional Contact</label>
                                {{application.Contact2}}
                            </div>
                        </div>
                        
                        <!-- Educational Details -->
                        <div class="card">
                        <div class="card-header">
                            Educational Details
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="10th">Class 10th percentage</label>
                                {{application.Class_10}}
                            </div>
                            <div>
                                <label for="12th">Class 12th percentage</label>
                                {{ application.Class_12 }}
                            </div>
                            <div>
                                <label for="cgpa">CGPA in higher education</label>
                                {{ application.UG_CGPA }}
                            </div>
                        </div>

                        <!-- Course Choices -->
                        <div class="card">
                        <div class="card-header">
                            Course Choices
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ application.Course }}
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                Photo and Signature
                            </div>
                            <div class="card-body">
                                <img src="{{ application.Photograph.url }}" width="100" height="100">
                                <img src="{{ application.Signature.url }}" width="100" height="100">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}